fastapi==0.115.12
uvicorn==0.34.0
requests==2.32.3
pydantic==2.11.3
screen-brightness-control==0.24.2
pyautogui==0.9.54
pyttsx3==2.98
spotipy==2.22.1
edge-tts==7.2.8
ollama==0.4.7
pythonnet==3.1.0rc0
pycaw==20240210
comtypes==1.4.8
SpeechRecognition==3.14.1
PyAudio==0.2.14
mcp>=1.2.0
opencv-python>=4.0.0
